.detail {
  background-color: #1c2541;
  padding: 3.125rem;
}
.detail-container {
  background-color: #3a506b77;
  padding: 1.25rem;
  color: white;
  border-radius: 0.625rem;
}

.sub-container {
  margin: 1.25rem 0;
}
h1 {
  border-bottom: rgba(255, 255, 255, 0.2) solid 0.00625rem;
  padding: 0.3125rem 0;
}
.platform-container {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
}
.platform:hover {
  color: aquamarine;
}
.video-container {
  color: white;
  padding: 0 1.25rem;
}

@media only screen and (max-width: 37.5rem) {
  .detail {
    padding: 3.125rem 1.25rem;
  }
}
