.genres-page {
  background-color: #0b101f;
  padding: 1.25rem 0.625rem;
}
.genres-page-title {
  color: white;
}

@media only screen and (min-width: 20.3125rem) {
  .genres-page-title {
    margin: 0 1.875rem;
  }
}
