.homepage {
  background-color: #1c2541;
  padding: 20px;
}

.homepage .spinner {
  width: 15.625rem;
  height: 21.25rem;
  text-align: center;
  padding: 6rem 0;
}
.homepage .pagination {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.first-title {
  color: white;
  display: flex;
  white-space: pre-wrap;
}

.first-title h5 {
  text-transform: capitalize;
}
