.homepage {
  background-color: #1c2541;
  padding: 1.25rem;
}

.homepage .spinner {
  width: 15.625rem;
  height: 21.25rem;
  text-align: center;
  padding: 6rem 0;
}
.homepage .pagination {
  width: 100%;
  margin: 0.625rem 0;
  display: flex;
  justify-content: center;
}
.first-title {
  color: white;
  display: flex;
  white-space: pre-wrap;
}

.first-title h5 {
  text-transform: capitalize;
}

.image-carousel {
  height: 37.5rem;
  object-fit: cover;
  border-radius: 3.125rem;
}
.carousel-content {
  background-color: #3a506b77;
  border-radius: 0.625rem;
  color: white;
}

.homepage .platform-container {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  justify-content: center;
}
.platform:hover {
  color: aquamarine;
}

@media only screen and (max-width: 50rem) {
  .image-carousel {
    height: 31.25rem;
  }
}

@media only screen and (max-width: 37.5rem) {
  .image-carousel {
    height: 25rem;
  }
}
@media only screen and (max-width: 25rem) {
  .image-carousel {
    height: 18.75rem;
  }
}
